.SupportAdvertise{
    display: flex;
}
          
    .b {
        display: flexbox;
        align-items: center;
        justify-content: center;

        background-image: url(faqja2img.jpg);
        background-size: 100% 100%;
        color: white;
        flex: 1 0 200px;
        height: 400px;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
       
    }
    
    .c {
        display: flexbox;
        align-items: center;
        justify-content: center;
        
        background-image: url(faqja2img.jpg);
        background-position: reverse;
        background-size: 100% 100%;
        color: white;
        flex: 1 0 200px;
        height: 400px;
        text-align: center;
        padding-left: 100px;
        padding-right: 100px;
    }

body{
    background-color: black;
}

.headerContainer{
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 1920px){

}

.TopLeft{
    font-family: serif;
    color: green;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transform: skew(-15deg); 
    padding-top: 35px;
    align-content: first baseline;
}

header{
    background-image: url(headerwllp.jpg);
    background-size: 100% 100%;    
}

.quote{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    font-size: medium;
    font-family:serif;
    justify-content: space-around; 
    color: rgb(255, 255, 255);  
}

.ContactingSites{
   
   width: 360px;
   display: flex;
   justify-content: space-between;
   padding: 5px;
   border-radius: 18px;
   box-shadow: 2px 2px 20px rgba(0, 0, 0, 3);
   align-items: center;
   height: 30px;
  
}

.ContactingSites a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 18px;
}

.ContactingSites a:hover{
    transition: 0.25s;
    background:  rgb(37, 139, 17);
    color: white;
}
footer{
    background-image: url(headerwllp.jpg);
    background-size: 100% 100%;
    border-radius: 5px;
   display: flex;
   justify-content: space-between;
}



.footermain{
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    font-family:serif;
}

.footercenter{
    display: flexbox;
    justify-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-right: 80px;
    font-family:serif;
}

.footercenter a{
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.Links{
    padding-top: 10px;
    padding-right: 80px;
    color: rgb(255, 255, 255);
    display: flexbox;
    justify-items:flex-end;
    font-family:serif;
}
