
.headerContainer{
    display: flex;
    justify-content: space-around;
}

@media screen and (min-width: 1920px){

}

.TopLeft{
    font-family: serif;
    color:#39ff14;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
    transform: skew(-15deg); 
    padding-top: 35px;
}

header{
    background-image: url(headerwllp.jpg);
    background-size: 100% 100%;
   
}

.LoginForm{
    font-family:serif;
    color:  rgb(37, 139, 17);
}

.LoginForm a{
    text-decoration: none;
    color: #39ff14;
}

.LoginForm input[type="email"] {
    height: 30px;
    width: 200px;
    border-radius: 10px;
}

.LoginForm input[type="password"] {
    height: 30px;
    width: 200px;
    border-radius: 10px;
}

.LoginForm input[type="submit"] {
    height: 30px;
    width: 70px;
    border-radius: 10px; 
}

.LoginForm input[type="submit"]:hover{
    transition: 0.25s;
    background: #39ff14;
    color: white;
}

#RegisterButton{
    background: none;
    font-family: serif;
    font-size: medium;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
    color: white;

}

#RegisterButton:hover{
    color: #00ff00; 
}



.opsionet  {
    display: inline-block;
    font-family: serif;
    font-size: 20px;
    margin-top: 5px;
    padding-right: 100px;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
}

.opsionet :hover {
    color: #00ff00; 
}

#registrationForm{
    display: none;
}

.quote{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    font-size: medium;
    font-family:serif;
    justify-content: space-around; 
    color: rgb(255, 255, 255);  
}

 .registersubmit:hover{
    transition: 0.25s;
    background:  rgb(37, 139, 17);
    color: white;
}

.ad {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
    
}

.ad img {
    height: 200px;
    width: 300px;
    margin: 10px;
    object-fit: cover;
    transition: transform 0.8s;
}

.ad img:hover {
    transform: scale(1.5);
}


footer{
    background-image: url(headerwllp.jpg);
    background-size: 100% 100%;
   
   display: flex;
   justify-content: space-between;
}



.footermain{
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    font-family:serif;
}

.footercenter{
    display: flexbox;
    justify-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    padding-top: 50px;
    padding-right: 80px;
    font-family:serif;
}

.footercenter a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 8px 18px;
    border-radius: 18px;
}

.footercenter a:hover{
    transition: 0.25s;
    background:  rgb(37, 139, 17);
    color: white;
}

.Links{
    padding-top: 10px;
    padding-right: 80px;
    color: rgb(255, 255, 255);
    display: flexbox;
    justify-items:flex-end;
    font-family:serif;
}
