.headerContainer{
    font-family:"Poppins" , sans-serif;
    display: flex;
    justify-content: space-around;
    
}

header{
    background-color: rgb(167, 77, 246);
}

.Emri{
    display: flex;
    padding-top: 2%;
    color: rgb(255, 255, 255);
    font-size: x-large;
}

.HomeSupportDheAdvertise{
    display: flex;
    justify-content: right;

}

.RreshtiLogove{
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}

.LoginForm{
    font-family:"Poppins" , sans-serif;
}

.LoginForm input[type="email"] {
    height: 30px;
    width: 200px;
    border-radius: 10px;
}

.LoginForm input[type="submit"] {
    height: 30px;
    width: 70px;
    border-radius: 10px; 
}


.quote{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    font-size: medium;
    font-family:"Poppins" , sans-serif;
    justify-content: space-around;   
}

.ContactingSites{
    display: flex;
    justify-content: space-around;
    
}

.ad{ 
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: 0%;
    margin-right: 0%;
}

.ad img {
    height: 200px; 
    width: 300px; 
    margin: 10px; 
}


footer{
    background-color: rgba(168, 163, 163, 0.742);
   display: flex;
   justify-content: space-between;
}



.footermain{
    color: rgb(92, 92, 92);
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    font-family:"Poppins" , sans-serif;
}

.footercenter{
    display: flexbox;
    justify-items: center;
    justify-content: center;
    color: rgb(92, 92, 92);
    padding-top: 50px;
    padding-right: 80px;
    font-family:"Poppins" , sans-serif;
}

.Links{
    padding-top: 10px;
    padding-right: 80px;
    color: rgb(92, 92, 92);
    display: flexbox;
    justify-items:flex-end;
    font-family:"Poppins" , sans-serif;
}

