.headerContainer{
    display: flex;
    justify-content: space-around;
    
}


.RreshtiLogove{
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}

.LoginForm{
    display: flexbox;
    justify-content: center;
}

.quote{
    display: flex;
    flex-wrap: wrap;
    width: 200px;
}


.ad{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}




 